@import '../variables';
@import '../mixins';

@mixin enabledTab {
  pointer-events: all;
  opacity: 1;
}

@mixin disabledTab {
  pointer-events: none;
  opacity: 0.8;
}

.tabs-wrapper {
  width: 100%;
  max-width: 400px;
  margin: auto;
  border: 1px solid #d2d2d2;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 20%;
  .tabs-header {
    display: table;
    width: 100%;
    .tab-nav {
      display: table-cell;
      padding: 10px 15px;
      text-align: center;
      cursor: pointer;
      width: 50%;
      background-color: #4caf50;
      color: #fff;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 0.5px;
      opacity: 0.8;
      &.selected {
        opacity: 1;
        pointer-events: none;
        box-shadow: 1px 1px 5px 0 #333;
      }
    }
  }
  .tab-content {
    padding: 10px 20px 20px;
  }
}
