@mixin btn {
  display: block;
  padding: 5px 15px;
  border: 2px solid #d2d2d2;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 15px;
}

.sendComment {
  margin: 10px 0;
  .form-errors {
    text-align: left;
    margin-bottom: 10px;
    div {
      font-size: 11px;
      color: #8a0000;
      letter-spacing: 0.5px;
    }
  }
  button {
    @include btn;
    background-color: unset;
  }
  textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 10px 15px;
  }
  .star-item {
    [type = 'radio'] {
      //display: none;
    }
  }
}

.products {
  font-size: 0;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 10px 15px;
  .toLogin {
    display: block;
    & > a {
      @include btn;
      text-decoration: none;
      color: inherit;
    }
  }
  .product {
    width: 50%;
    display: inline-block;
    padding: 5px;
    & label {
      @include btn;
    }
    &:nth-of-type(2n) {
      padding-right: 0;
    }
    &:nth-of-type(2n + 1) {
      padding-left: 0;
    }
  }
  .product-tab-content {
    width: 100%;
    font-size: 15px;
    & > div {
      &.main {
        .product-title {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;
          color: #4caf50;
          margin: 10px 0;
        }
        .product-image {
          text-align: center;
          position: relative;
          height: 250px;
          & > img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .product-desc {
          padding: 15px 0;
          border-top: 2px solid #d2d2d2;
          border-bottom: 2px solid #d2d2d2;
        }
      }
      &.sub {
        margin-top: 25px;
        overflow: hidden;
        .comment {
          display: block;
          width: 100%;
          font-size: 0;
          span {
            width: 50%;
            font-size: 12px;
            padding: 5px 15px;
            display: inline-block;
            background-color: #4caf50;
            color: #fff;
            text-transform: capitalize;
            border: 1px solid #fff;
          }
          div {
            padding: 10px;
            font-size: 14px;
            border-top: 1px solid #d2d2d2;
            border-bottom: 1px solid #d2d2d2;
          }
        }
      }
    }
  }
}
