@import '../../variables';
@import '../../mixins';

.formLogin {
  width: 80%;
  margin: auto;
  text-align: center;
  input {
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 7px 15px;
    border-radius: 7px;
    border: 2px solid #d2d2d2;
  }
  .submit {
    border: none;
    background-color: #4caf50;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 15px;
    min-width: 50%;
  }
  .form-errors {
    text-align: left;
    margin-bottom: 10px;
    div {
      font-size: 11px;
      color: #8a0000;
      letter-spacing: 0.5px;
    }
  }
}
