<div class="tabs-wrapper">
  <div class="tabs-header">
    <label *ngFor="let tab of tabs" [class.selected]="tab === tabActive" (click)="setActiveTab(tab)"
           class="tab-nav tabLogin">{{ tab.label }}</label>
  </div>

  <div class="tab-content">
    <app-login [formUrl]=[tabActive.data]></app-login>
  </div>
</div>
