<div class="form {{ class }}">
  <input type="text" [(ngModel)]="user.username" placeholder="Login">
  <input type="password" [(ngModel)]="user.password" placeholder="Password">
  <div class="form-errors">
    <div *ngFor="let error of errors">{{ error }}</div>
  </div>
  <button class="submit btn" (click)="submitForm()">{{ submitText }}</button>
</div>
