<div class="products">
  <span *ngIf="preview" class="toLogin">
    <a href="/login">{{loginText}}</a>
  </span>
  <span *ngIf="!preview" class="toLogin">
    <a href="/logout">{{logoutText}}</a>
  </span>
  <div *ngFor="let product of productsList" class="product">
    <label (click)="setActiveProduct(product)" [class.selected]="product === productActive">{{ product.title }}</label>
  </div>
  <div *ngIf="productActive" class="product-tab-content">
    <div class="main">
      <div class="product-title">{{ productActive.title }}</div>
      <div class="product-image">
        <img src="{{ imageApiUrl + productActive.img }}">
      </div>
      <div class="product-desc">{{ productActive.text }}</div>
    </div>

    <div *ngIf="!preview" class="sendComment">
      <label *ngFor="let i of range(5)" class="star-item">
        <input type="radio" name="stars[]" [value]='i' [checked]='i == 0' (change)="starSelectionChange(i)">
      </label>
      <textarea [(ngModel)]="userComment.text" class="comment" name="comment" placeholder="Message..."></textarea>
      <div class="form-errors">
        <div *ngFor="let error of errors">{{ error }}</div>
      </div>
      <button (click)="submitCommentsForm(userComment.rate, userComment.text)">{{ sendCommentText }}</button>
    </div>

    <div *ngIf="productActive.comments" class="sub">
      <div *ngFor="let comment of productActive.comments" class="comment">
        <span *ngIf="comment.rate; then stars else zero"></span>
        <ng-template #stars>
          <span>
            <i class="fa fa-star" *ngFor="let i of range(comment.rate)"></i>
          </span>
        </ng-template>
        <ng-template #zero>
          <span>- - -</span>
        </ng-template>
        <span *ngIf="comment.created_by">{{comment.created_by.username}}</span>
        <div>{{comment.text}}</div>
      </div>
    </div>
  </div>
</div>
