@mixin media($type) {
    @if $type == less-xs {
        @media (max-width: $screen-xs-min) {
            @content;
        }
    } @else if $type == less-sm {
        @media (max-width: $screen-xs-max) {
            @content;
        }
    } @else if $type == less-md {
        @media (max-width: $screen-sm-max) {
            @content;
        }
    } @else if $type == less-lg {
        @media (max-width: $screen-md-max) {
            @content;
        }
    } @else if $type == more-md {
        @media (min-width: $screen-lg-min) {
            @content;
        }
    } @else if $type == more-sm {
        @media (min-width: $screen-md-min) {
            @content;
        }
    } @else if $type == more-xs {
        @media (min-width: $screen-sm-min) {
            @content;
        }
    } @else if $type == only-lg {
        @media (min-width: $screen-lg-min) {
            @content;
        }
    } @else if $type == only-md {
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            @content;
        }
    } @else if $type == only-sm {
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            @content;
        }
    } @else if $type == only-xs {
        @media (max-width: $screen-sm-min) {
            @content;
        }
    }
}

@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
        width: 100%;
    }
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin hover($background-color) {
    display: block !important;
    visibility: visible !important;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: $background-color;
}

@mixin colored-hover($background-color) {
    &:after {
        @include hover($background-color);
    }
}

@mixin colored-hover-before($background-color) {
    &:before {
        @include hover($background-color);
    }
}

@mixin box {
    padding: 0 15px;
    margin: 0 auto 15px;
}

@mixin h {
    width: auto;
    margin: auto;
}

@mixin subscription_btn($color) {
    .head {
        background-color: $color;
    }
    .action .btn {
        background-color: $color;
        border-color: $color;
        &:hover {
            color: $color;
        }
    }
}

@mixin absolute-column {
    @include media(less-md) {
        margin: 0;
    }
}

@mixin absolute-centered {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin xl-font {
    font-size: 7.2rem;
    @include media(less-md) {
        font-size: 5.2rem;
    }
    @include media(less-xs) {
        font-size: 4rem;
    }
}

@mixin lg-font {
    font-size: 4.6rem;
    @include media(less-md) {
        font-size: 3.8rem;
    }
    @include media(less-sm) {
        font-size: 3.2rem;
    }
    @include media(less-xs) {
        font-size: 2.6rem;
    }
}

@mixin ls-font {
    font-size: 4.2rem;
    @include media(less-md) {
        font-size: 3.4rem;
    }
    @include media(less-sm) {
        font-size: 2.8rem;
    }
    @include media(less-xs) {
        font-size: 2.2rem;
    }
}

@mixin lh-font {
    font-size: 3.6rem;
}

@mixin xg-font {
    font-size: 3rem;
}

@mixin xm-font {
    font-size: 2.2rem;
    @include media(less-md) {
        font-size: 2rem;
    }
    @include media(less-sm) {
        font-size: 1.8rem;
    }
    @include media(less-xs) {
        font-size: 1.6rem;
    }
}

@mixin md-font {
    font-size: 1.8rem;
}

@mixin sm-font {
    font-size: 1.6rem;
    @include media(less-md) {
        font-size: 1.5rem;
    }
    @include media(less-sm) {
        font-size: 1.4rem;
    }
    @include media(less-xs) {
        font-size: 1.3rem;
    }
}

@mixin xs-font {
    font-size: 1rem;
}