body {
    overflow-x: hidden;
}

input,
textarea {
    &:focus {
        outline: none;
    }
}

a {
    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
    }
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.list-inline {
    margin-bottom: 0;
    margin-left: 0;
}

p {
    margin: 0;
}

i {
    font-style: normal;
}
