/* DEVICE SIZE */
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-xs-min: 480px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$dl-horizontal-breakpoint: $screen-sm-min;

$font-family-base: 'Roboto', 'sans-serif';

$header-height: 70px;
$footer-height: 350px;

//colors
$light-color: #676767;

$first-color: #ACBBB2;
$second-color: #859E8F;
$third-color: #638571;
$fourth-color: #e94f39;

